body {
    margin: 0px;
    background-color: #161616;
    color: white;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

main {
    font-family: 'Rubik', sans-serif;
}

h1 {
    width: 100%;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

table, th, td {
    border: 2px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}


td, th {
    border-left:solid black 2px;
    border-top:solid black 2px;
}

td {
    color: goldenrod;
    font-family: 'Rubik', sans-serif;
}

input {
    background-color: transparent;
    border-color: transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    color: gold;
    font-family: 'Rubik', sans-serif;
}

input:focus {
    outline: goldenrod solid 2px !important;
}

.paises-container,
.participantes-container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.mc-pais {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

select{
    font-size: 1.2rem;
    border-radius: 50px;
}

.partipantes-pais {
    font-size: 1.2rem;
    text-align: center;
}
.partipantes-pais span {
    color: gold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px black;
}

.btn-list-participantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.btn-participante {
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    text-shadow: 1px 1px 2px white;
    box-shadow: 0px 0px 5px 1px black;
    font-family: 'Rubik', sans-serif;
    transition: all .1s ease-in-out; 
}

.btn-participante:focus {
    background-color: goldenrod;
    color: #161616;
  }

.btn-participante:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.tabla-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    visibility: hidden;
}

/*MUCHO CUIDAO*/

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}


.number-input {
    display: inline-flex;
    align-items: center;
}

.number-input,
.number-input * {
}
  
.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 3rem;
    cursor: pointer;
    position: relative;
  }
  
.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: '\f077';
    color: white;
    transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.minus {
    margin-left: 5px;
}

.plus {
    margin-right: 5px;
}
  
.number-input input[type=number] {
    padding: .5rem;
    border-width: 0 2px;
    font-size: 1.5rem;
    height: 3rem;
    text-align: center;
}