body {
    margin: 0px;
    background-color: #161616;
    color: white;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

main {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    width: 100%;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}

input {
    width: 100px;
    text-align: center;
}

.paises-container,
.participantes-container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.mc-pais {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

select{
    font-size: 1.2rem;
    border-radius: 50px;
}

.partipantes-pais {
    font-size: 1.2rem;
    text-align: center;
}
.partipantes-pais span {
    color: gold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px black;
}

.btn-list-participantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.btn-participante {
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    text-shadow: 1px 1px 2px white;
    box-shadow: 0px 0px 5px 1px black;
    font-family: 'Rubik', sans-serif;
    transition: all .1s ease-in-out; 
}

.btn-participante:hover {
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.tabla-container {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    visibility: hidden;
}