body {
    margin: 0px;
}
header {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

h1 {
    width: 100%;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
}

input {
    width: 100px;
    text-align: center;
}
.paises-container,
.participantes-container {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}

.mc-pais {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

select{
    font-size: 1.2rem;
    border-radius: 50px;
}

.partipantes-pais {
    font-size: 1.2rem;
    text-align: center;
}
.partipantes-pais span {
    color: lightblue;
    text-shadow: 1px 1px 3px black;
}

.btn-list-participantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.btn-participante {
    width: 70px;
    height: 40px;
}